* {
	font-family: 'Raleway', sans-serif;
}

body {
	display: block;
	background-color : #e8eaf6;
	margin: 0vh;
	padding: 0vh;
}

#content {
	display: block;
	margin: 0vh;
	padding: 0vh;
}

#aside {
	width: 20%;
	background-color: #c5cae9;
	float: left;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
}

#aside div {
	box-sizing: border-box;
	/* border-top: 0.1vh solid white; */
	border-bottom: 0.1vh solid white;
	background-color: #c5cae9;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	font-size: 1.8vh;
	font-weight: bold;
	margin: 0%;
	padding: 10%;
	overflow: hidden;
}

#aside div p {
	background-color: #e0e0e0;
	text-align: center;
	margin: 0%;
	cursor: default !important;
}

#aside div:hover {
	/*background-color: #3f51b5 ;
	color: white;*/
	cursor: pointer;
}

#language {
	font-size: 5vh !important;
	border: none !important;
	padding: 0vh !important;
	text-align: center;
}

#language div {
	border: none !important;
	width: 50%;
}

#language:hover {
	color: black !important;
}

#language div:hover {
	color: black !important;
	background-color: #f44336 !important;
}

#en {
	float: left;
}

#fr {
	float: right;
}


#request-type {
	border-top: 0.1vh solid white;
	padding: 0% !important;
}

#request-type:hover {
	color: black !important;
	background-color: #c5cae9 !important;
}

#keyword-request {
	border-top: 0.1vh solid white;
}

#statistics-request {
	border-bottom: none !important;
}

#keyword-display-types {
	padding: 0% !important;
}

#keyword-display-types:hover {
	color: black !important;
	background-color: #c5cae9 !important;
}

#chronological {
	border-top: 0.1vh solid white;
}

#pertinence {
	border-bottom: none !important;
}

#search {
	float: right;
	text-align: center;
	width: 80%;
	height: 30%;
	margin: 0vh;
}

#search input, button {
	display: block;
	margin: 2% auto 2% auto;
	padding: 1%;
}

#search-series {
	width: 90%;
	height: 40%;
	font-size: 5vh;
	text-align: center;
	border-radius : .2vh;
	border : none;
}

#search-keyword {
	width: 35%;
	height: 40%;
	font-size: 5vh;
	text-align: center;
	border-radius : .2vh;
	border : none;
}

button {
	background-color : #3f51b5 ;
	border-radius : .2vh;
	color : white;
	border : none;
	font-size: 5vh;
	height : 10%;
	width : 40vh;
	box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.1vh 0.2vh rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button:hover {
  box-shadow : 0 0.7vh 1.4vh rgba(0,0,0,0.25), 0 1.0vh 1.0vh rgba(0,0,0,0.22);
  cursor : pointer;
}

#text-area {
	text-align: center;
	font-size: 3vh;
}

