* {
	font-family: 'Raleway', sans-serif;
}

#search {
	margin: auto;
	text-align: center;
}

#search div {
	margin: 20px;
}

#search-series {
	height: 100px;
	width: 800px;
	font-size: 50px;
	text-align: center;
}

#search-keyword {
	height: 50px;
	width: 300px;
	font-size: 25px;
	text-align: center;
}