<% for(var season in data) { %>
    <% for(var episode = 1; episode <= data[season].length; episode++) { %>
        <p>Season <%- season %>, Episode <%- episode %> : <%= data[season][episode - 1] %></p>
    <% } %>
<% } %>
