<ul>
    <% for(var seasons in data) { %>
        <% for(var episodes in seasons) { %>
            <li>Season <%- seasons %>, Episode <%- episodes %> : <%= data[seasons][episodes] %></li>
        <% } %>
    <% } %>
</ul>